.sidebar
	display: flex
	flex-direction: column
	&__title
		color: #212529
		font-family: Poppins
		font-size: 25px
		font-style: normal
		font-weight: 700
		line-height: 160%
	&__buttons
		margin: 30px 0 0 0
	&__button
		color: #495057
		font-family: Poppins
		font-size: 12px
		font-style: normal
		font-weight: 500
		line-height: 208.333%
