@import _nullstyle
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic)
@import _header
@import _main__blog-minimal
@import _sidebar
@import _article-minimal

body
.header
	background: url(../Img/header2.webp) no-repeat center 78%/auto auto fixed
	@media screen and (min-width: 1600px)
		background: url(../Img/header2.webp) no-repeat center 60%/cover fixed
.wrapper
	min-height: 100vh
	display: flex
	flex-direction: column

.pink-dot
	color: #DDBEA9

.disabled
	visibility: hidden
